SQLAlchemy
alembic
PyQt5
PyInstaller>=3.4
html5lib
lxml
cssselect
arrow
rarfile
pylzma
Babel
rfc6266
Markdown
transifex-client

pypiwin32; sys_platform == 'win'
pywinutils; sys_platform == 'win'
