SQLAlchemy
alembic
PyQt5
PyInstaller>=3.4
html5lib
lxml
cssselect
arrow
rarfile
pylzma
Babel
rfc6266
Markdown
transifex-client
appdirs

send2trash; os_name == "posix"

pypiwin32; os_name == 'nt'
pywinutils; os_name == 'nt'
